@use "../../variables.scss";

.logo {
  width: 45px;
  height: 50px;
  cursor: pointer;
}

.navLogo {
  background-color: variables.$primary-800;
  padding: 0px variables.$padding-xl;
  height: variables.$height-xl;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ebf5ff31;
  z-index: 2;
  @media (min-width: variables.$mobile-breakpoint) {
    display: none !important;
  }
}
