@use "../../variables.scss";
@import "../../components.scss";

.contentContainer {
  @include contentContainer;

  .previousIcon {
    @include clickable;
  }
  .pageTitle,
  .previousIcon {
    color: variables.$primary-1000;
    font-weight: variables.$font-weight-600;
    font-size: variables.$font-lg;
    margin: 0;
  }
  .createBtn {
    @include btn;
    width: variables.$width-xl;
    height: variables.$height-lg;
    @include btnSecondary;
  }
  .slider {
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding-bottom: variables.$padding-sm;
    .tabContainer {
      padding: variables.$padding-xxs variables.$padding-lg;
      width: auto;
      border-radius: 50px;
      text-align: center;
    }
    .selectedTab {
      background-color: variables.$primary-200;
    }
    .tabs {
      color: variables.$primary-1000;
      font-size: variables.$font-sm;
      font-weight: variables.$font-weight-500;
      @include clickable;
    }
  }
}
