DATABASE_URL=YOUR_URI
TEST_DATABASE_URL=YOUR_TEST_URI
POSTGRES_PASSWORD=YOUR_PASSWORD

SERVER_PORT=YOUR_PORT

RABBIT_AMQP_URL=amqp://guest:guest@rabbitmq:5672

NODEMAILER_USER=YOUR_NODEMAILER_USER
NODEMAILER_PASS=YOUR_NODEMAILER_PASS

FRONT_END_URL=http://localhost:3000

RESET_PASSWORD_ROUTE=/reset-password
ACCOUNT_CONFIRMATION_ROUTE=/account-confirmation
RESET_EMAIL_ROUTE=/reset-email

REQUEST_TIMEOUT=15000 # 15 seconds

NON_PREMIUM_MAX_AUTHORIZED_REQUESTS=20

RESET_PASSWORD_EXPIRATION_DELAY=1800000 # 30 minutes, never set below 1 minute which corresponds to 60000
