@use "../../variables.scss";

.footer {
  background-color: variables.$primary-800;
  height: 120px;
  padding: 0px variables.$padding-xl;
  margin-bottom: variables.$height-lg;
  @media (min-width: variables.$mobile-breakpoint) {
    padding: 0px variables.$padding-xxl;
    margin-bottom: 0;
  }
  @media (min-width: 676px) {
    height: 85px;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between !important;
  }
}

ul,
.copyright {
  color: #ffffff;
  margin: 0;
  font-size: 14px;
}

ul {
  padding: 0;
  @media (min-width: 676px) {
    display: flex;
  }
}

a {
  color: white;
  margin-bottom: 4px;
  @media (min-width: 676px) {
    margin-right: 48px;
    margin-bottom: 0;
  }
}

a:hover {
  color: variables.$primary-100;
}
