@use "../../variables.scss";
@import "../../components.scss";

.contentContainer {
  @include contentContainer;
  @media (min-width: variables.$mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktopContainer {
    @include desktopContainer;
  }
  .separator {
    @include separator;
    margin-top: 36px;
    @media (min-width: variables.$mobile-breakpoint) {
      display: none;
    }
  }
  .alreadyRegistered {
    margin: 0;
    text-align: center;
    @media (min-width: variables.$mobile-breakpoint) {
      margin-bottom: variables.$margin-xl;
    }
  }
  .pendingAccount {
    text-align: center;
    margin: variables.$margin-xxl 0;
  }
  .navlink {
    @include clickableText;
    @media (min-width: variables.$mobile-breakpoint) {
      margin-bottom: variables.$margin-xxl;
    }
  }
  .btn {
    @include btn-mobile;
    margin-top: variables.$margin-md;
    @media (min-width: variables.$mobile-breakpoint) {
      @include btn;
      width: 100%;
    }
  }
  .btnPrimary {
    @include btnPrimary;
  }

  .errorMessage {
    @include errorMessage;
  }

  .passwordInput {
    border-top-right-radius: variables.$border-radius-none;
    border-bottom-right-radius: variables.$border-radius-none;
  }

  .showHidePassword {
    border-radius: variables.$border-radius-none;
    border-left: variables.$border-radius-none;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }

  .eye {
    @include clickable;
  }

  .success {
    font-size: 64px;
    color: variables.$green-1000;
  }

  .signUpForm {
    position: relative;
    .loaderContainer {
      background-color: variables.$loader-transparent-bg;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      @media (min-width: variables.$mobile-breakpoint) {
        background-color: variables.$primary-50;
      }
      .loader {
        @include loader;
      }
    }
  }
}
