@use "variables.scss";

.container {
  max-width: variables.$desktopContainerSize;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.background {
  background-color: variables.$desktopContainerMarginColor;
}
