@use "variables.scss";

.main {
  max-width: variables.$desktopContainerSize;
  background-color: white;
  .content {
    min-height: calc(100vh - variables.$mobileNavbarHeight);
    @media (min-width: 576px) {
      min-height: calc(100vh - variables.$desktopNavbarHeight);
    }
  }
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
  }
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

h2 {
  color: variables.$darkestColor;
  font-size: variables.$desktopTitleSize;
}

ul {
  list-style-type: none;
}
