@use "variables.scss";

@mixin clickable {
  cursor: pointer;
}

@mixin bold {
  font-weight: variables.$font-weight-600;
}

@mixin contentContainer {
  padding: variables.$padding-xl;
  @media (min-width: variables.$mobile-breakpoint) {
    padding: variables.$padding-xxl;
  }
}

@mixin desktopContainer {
  @media (min-width: variables.$mobile-breakpoint) {
    padding: variables.$padding-xxl;
    width: 550px;
    border-radius: variables.$border-radius-lg;
    margin-bottom: variables.$margin-xl;
    background-color: variables.$primary-100;
  }
}

@mixin separator {
  color: variables.$neutral-800;
  margin: variables.$margin-xl 0;
}

@mixin btn {
  transition: all 0.3s ease-in-out;
  width: variables.$width-xxxl;
  height: variables.$height-xl;
  border-radius: variables.$border-radius-sm;
  @include bold();
  @include clickable();
}

@mixin btn-mobile {
  @include btn();
  width: 100%;
}

@mixin btnPrimary {
  background-color: variables.$primary-800;
  color: white;
  border: none;
  &:hover {
    background-color: white;
    border: 2px solid variables.$primary-800;
    color: variables.$primary-800;
  }
}

@mixin btnSecondary {
  background-color: white;
  color: variables.$primary-800;
  border: 2px solid variables.$primary-800;
  &:hover {
    background-color: variables.$primary-800;
    color: white;
  }
}

@mixin clickableText {
  margin: 0;
  color: variables.$primary-800;
  @include bold();
}

@mixin loader {
  width: variables.$width-sm;
  height: variables.$height-lg;
  border: 5px solid variables.$primary-800;
  border-bottom-color: transparent;
  border-radius: variables.$border-radius-round;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin errorMessage {
  color: variables.$red-1000;
  @include bold();
}
