$desktopContainerMarginColor: rgba(89, 89, 89, 0.1); // rgb(235, 245, 255, 0.33)
$backgroundBlue: rgb(235, 245, 255, 0.65);
$appBackgroundImage: url("./assets/images/background_image.png");
$appMinWidth: 360px;

$desktopContainerSize: 992px;
$desktopPadding: 48px;
$mobilePadding: 24px;

$mobileNavbarHeight: 48px;
$desktopNavbarHeight: 60px;

$mobileHomepageTitleSize: 32px;
$desktopHomepageTitleSize: 40px;
$mobileTitleSize: 16px;
$desktopTitleSize: 24px;
$mainSize: 12px;

$tableHeadFontWeight: 600;

$darkestColor: #0f2837;
$mainColor: #195078;
$secondColor: #dcebfb;
$lightestColor: #ebf5ff;
$secondTextColor: #595959;
$premiumColor: #e5ae21;
$errorColor: #a42e0a;
$successColor: #196713;
$informationColor: #168ce9;
$dangerZoneBackgroundColor: rgb(164, 46, 10, 0.08);

$disabledButtonBackgroundColor: rgba(89, 89, 89, 0.1);
$disabledButtonBorderColor: rgba(89, 89, 89, 0.4);
$disabledButtonTextColor: rgba(89, 89, 89, 0.65);
