@use "../../variables.scss";
@import "../../components.scss";

.loader {
  @include loader;
}

.available {
  color: variables.$green-1000;
  font-size: variables.$font-sm;
}
.notAvailable {
  color: variables.$red-1000;
  font-size: variables.$font-sm;
}
.createdAt {
  div {
    justify-content: center;
    text-align: center;
  }
}
.header {
  background-color: variables.$primary-200 !important;
  color: variables.$primary-1000 !important;
  div {
    .p-column-filter-menu {
      margin-left: none !important;
    }
  }
}

.header > div > div {
  margin-left: 4px !important;
}

.primary {
  color: variables.$primary-1000;
}

.table {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: variables.$border-radius-sm;
  overflow: hidden;
  font-size: variables.$font-dataTable !important;
}

.hidden {
  overflow: hidden;
  &.url {
    max-width: 250px;
  }
  &.createdAt {
    max-width: 150px;
    white-space: nowrap;
  }
  &.name {
    max-width: 150px;
    white-space: nowrap;
  }
}
