@use "../../variables.scss";

tr {
  text-align: center;
}

td,
th {
  width: 33%;
  color: variables.$primary-1000;
  font-size: 12px;
  @media (min-width: variables.$mobile-breakpoint) {
    font-size: initial;
  }
}

th {
  font-weight: variables.$font-weight-600;
}

thead {
  background-color: variables.$primary-100;
}

table {
  width: auto;
  @media (min-width: 768px) {
    width: 70% !important;
  }
}

.available {
  color: variables.$green-1000;
}

.notAvailable {
  color: variables.$red-1000;
}
