@use "../../variables.scss";
@import "../../components.scss";

.contentContainer {
  @include contentContainer;
  .pageTitle {
    color: variables.$primary-1000;
    font-weight: variables.$font-weight-600;
    font-size: variables.$font-lg;
  }
  .formContainer {
    .header {
      display: flex;
      gap: 1rem;
      margin-left: variables.$margin-xs;
      color: variables.$primary-1000;
      font-size: variables.$font-md;
      font-weight: variables.$font-weight-500;
    }
    .formContent {
      padding: variables.$padding-md;
      margin-top: variables.$margin-md;
      background-color: variables.$primary-100;
      border-radius: variables.$border-radius-sm;
      .stateInformationMessage {
        @media (min-width: variables.$mobile-breakpoint) {
          height: 56px;
        }
        .activeStateIcon {
          color: variables.$green-1000;
        }
        .inactiveStateIcon {
          color: variables.$red-1000;
        }
      }
      .checkLabel {
        color: variables.$primary-1000;
      }
      .frequencyLabel {
        color: variables.$primary-800;
      }
      .emailSpecificErrors {
        margin-bottom: 44px;
      }
      .premiumIcon {
        color: variables.$yellow-1000;
      }
      .inline {
        display: inline;
      }
    }

    .btn {
      @include btn;
      width: variables.$width-100;
    }
    .btnPrimary {
      @include btnPrimary;
    }
    .btnSecondary {
      @include btnSecondary;
    }
  }
}

.reactSelect {
  background-color: red;
}
