@use "../../variables.scss";
@import "../../components.scss";

.contentContainer {
  padding: variables.$mobilePadding;
  @media (min-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktopContainer {
    @media (min-width: 576px) {
      padding: variables.$desktopPadding;
      width: 550px;
      border-radius: 20px;
      background-color: variables.$lightestColor;
    }
  }
  .separator {
    margin-top: 36px;
    margin-bottom: 24px;
    @media (min-width: 576px) {
      margin-top: 0px;
    }
  }
  .alreadyRegistered {
    margin: 0;
    text-align: center;
    @media (min-width: 576px) {
      margin-bottom: 24px;
    }
  }
  .navlink {
    margin: 0;
    color: variables.$mainColor;
    font-weight: 600;
    @media (min-width: 576px) {
      margin-bottom: 48px;
    }
  }
  .button {
    @include button;
    height: 60px;
    margin-top: 16px;
    @media (min-width: 576px) {
      min-width: auto;
      width: 100%;
      height: 60px;
    }
  }
  .primaryButton {
    @include primaryButton;
    &:hover {
      @include primaryButtonHover;
    }
  }

  .errorMessage {
    @include errorMessage;
  }

  .passwordInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .showHidePassword {
    border-radius: 0;
    border-left: 0;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }

  .eye {
    cursor: pointer;
  }

  .success {
    font-size: 4rem;
    color: variables.$successColor;
  }

  .signUpForm {
    position: relative;
    .loaderContainer {
      background-color: rgba(255, 255, 255, 0.667);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      @media (min-width: 576px) {
        background-color: #ebf5ff9e;
      }
      .loader {
        @include loader;
      }
    }
  }
}
