@use "../../variables.scss";
@import "../../components.scss";

.loader {
  @include loader;
}
.table {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  width: variables.$width-100;
  margin-top: 34px;
  border-radius: 10px;
  overflow: hidden;
  .tableHeader {
    height: variables.$height-md;
    border-radius: 10px;
  }
  .tableRows {
    height: 37px;
    color: variables.$primary-1000;
  }
  .available {
    color: variables.$green-1000;
    font-size: large;
  }
  .notAvailable {
    color: variables.$red-1000;
    font-size: large;
  }
  .paddingLeft {
    padding: 0 0 0 variables.$padding-sm;
  }
  tbody tr:not(:last-child) {
    border-bottom: 1.5px solid #ddd;
  }
}
