@use "../../variables.scss";

.navbar {
  height: variables.$height-lg;
  width: variables.$width-100;
  border-top: 1px solid #ebf5ff31;
  position: fixed;
  bottom: 0;
  background-color: variables.$primary-800;
  z-index: 2;
  @media (min-width: variables.$mobile-breakpoint) {
    height: variables.$height-xl;
    position: sticky;
    top: 0;
    border-top: none;
    border-bottom: 1px solid #ebf5ff31;
  }
  .mobileNavbar {
    @media (min-width: variables.$mobile-breakpoint) {
      display: none !important;
    }
  }
  .desktopNavbar {
    padding: 0px variables.$padding-xxl;
    display: flex !important;
    font-size: 14px;
    display: none !important;
    @media (min-width: variables.$mobile-breakpoint) {
      display: flex !important;
    }
    .btnPrimary {
      width: 80px;
      height: 32px;
      border-radius: 3px;
      border: none;
      color: variables.$primary-1000;
      &:hover {
        background-color: variables.$primary-100;
      }
    }

    .btnSecondary {
      width: 80px;
      height: 32px;
      border-radius: 3px;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      &:hover {
        border: 1px solid variables.$primary-100;
        color: variables.$primary-100;
      }
    }
  }
}

.logo {
  width: 45px;
  height: 50px;
  cursor: pointer;
}

.bi {
  cursor: pointer;
  color: #ffffff;
}

.biBookmarkCheck {
  cursor: pointer;
  color: variables.$yellow-1000;
}

.navlink {
  font-size: 10px;
  margin: 0;
  @media (min-width: variables.$mobile-breakpoint) {
    font-size: 14px;
  }
}
