@use "../../variables.scss";
@import "../../components.scss";

.navbar {
  height: variables.$height-lg;
  width: variables.$width-100;
  border-top: 1px solid #ebf5ff31;
  position: fixed;
  bottom: 0;
  background-color: variables.$primary-800;
  z-index: 3;
  @media (min-width: variables.$mobile-breakpoint) {
    height: variables.$height-xl;
    position: sticky;
    top: 0;
    border-top: none;
    border-bottom: 1px solid #ebf5ff31;
  }
  .mobileNavbar {
    @media (min-width: variables.$mobile-breakpoint) {
      display: none !important;
    }
  }
  .desktopNavbar {
    padding: 0px variables.$padding-xxl;
    display: flex !important;
    font-size: 14px;
    display: none !important;
    @media (min-width: variables.$mobile-breakpoint) {
      display: flex !important;
    }
    .navElement {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 16px;
    }
    .btnPrimary {
      width: 80px;
      height: 32px;
      border-radius: 3px;
      border: none;
      color: variables.$primary-1000;
      &:hover {
        background-color: variables.$primary-100;
      }
    }

    .btnSecondary {
      width: 80px;
      height: 32px;
      border-radius: 3px;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      &:hover {
        border: 1px solid variables.$primary-100;
        color: variables.$primary-100;
      }
    }
  }
}

.logo {
  @include clickable;
  width: 45px;
  height: 50px;
}

.bi {
  @include clickable;
  color: #ffffff;
  font-size: 14px;
}

.biBookmarkCheck {
  @include clickable;
  color: variables.$yellow-1000;
  font-size: 14px;
}

.navlink {
  font-size: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: variables.$mobile-breakpoint) {
    font-size: 14px;
  }
  &.selectedLink {
    color: variables.$primary-200;
    font-weight: 800;
  }
  .linkLabel {
    color: white;
  }
}

.notLogged {
  padding: 0 15px;
}
