@use "../../variables.scss";
@import "../../components.scss";

.contentContainer {
  @include contentContainer;
  .pageTitle {
    color: variables.$primary-1000;
    font-weight: variables.$font-weight-600;
    font-size: variables.$font-lg;
  }
  .logout {
    color: variables.$primary-800;
    font-weight: variables.$font-weight-600;
    font-size: variables.$font-sm;
    @include clickable;
  }
  .tabs {
    color: variables.$primary-1000;
    font-size: variables.$font-sm;
    font-weight: variables.$font-weight-600;
    @include clickable;
  }
  .tabContainer {
    padding: 3px 5px;
    width: 129px;
    border-radius: 50px;
    text-align: center;
  }
  .selectedTab {
    background-color: variables.$primary-200;
  }
}
