@use "../../variables.scss";
@import "../../components.scss";

.contentContainer {
  padding: variables.$padding-xl;
  @media (min-width: variables.$mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error {
    font-size: 4rem;
    color: variables.$red-1000;
  }

  .success {
    font-size: 4rem;
    color: variables.$green-1000;
  }
}

.loader {
  @include loader;
}
