@use "../../variables.scss";
@import "../../components.scss";

.contentContainer {
  padding: variables.$mobilePadding;
  @media (min-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktopContainer {
    @media (min-width: 576px) {
      padding: variables.$desktopPadding;
      width: 550px;
      border-radius: 20px;
      margin-bottom: 24px;
      background-color: variables.$lightestColor;
    }
  }
  .button {
    @include button;
    height: 60px;
    margin-top: 16px;
    @media (min-width: 576px) {
      min-width: auto;
      width: 100%;
      height: 60px;
    }
  }
  .primaryButton {
    @include primaryButton;
    &:hover {
      @include primaryButtonHover;
    }
  }

  .errorMessage {
    @include errorMessage;
  }

  .askForNewPasswordForm {
    position: relative;
    .loaderContainer {
      background-color: rgba(255, 255, 255, 0.667);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      @media (min-width: 576px) {
        background-color: #ebf5ff9e;
      }
      .loader {
        @include loader;
      }
    }
  }
}
