@use "../../variables.scss";
@import "../../components.scss";

.searchBarContainer {
  background-color: variables.$primary-800;
  height: 320px;
  padding: 0px variables.$padding-xl;
  @media (min-width: variables.$mobile-breakpoint) {
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    padding: 0px variables.$padding-xxl;
  }
  h1 {
    color: #ffffff;
  }
  .searchBar {
    height: variables.$height-lg;
    width: 100%;
    padding-left: variables.$height-md;
    color: variables.$neutral-800;
    border: none;
    border-top-left-radius: variables.$border-radius-xs;
    border-bottom-left-radius: variables.$border-radius-xs;
    @media (min-width: variables.$mobile-breakpoint) {
      margin-top: 0;
    }
  }
  .searchButton {
    min-width: variables.$width-sm;
    max-width: variables.$width-sm;
    min-height: variables.$width-sm;
    max-height: variables.$width-sm;
    background-color: variables.$primary-200;
    border-top-right-radius: variables.$border-radius-xs;
    border-bottom-right-radius: variables.$border-radius-xs;
    border: none;
    @include clickable;
    @media (min-width: variables.$mobile-breakpoint) {
      margin-top: 0;
    }
  }
  .errorMessage {
    padding-top: variables.$padding-sm;
    color: white !important;
  }
}

.contentContainer {
  @include contentContainer;
  .requestContainer {
    width: 100%;
    height: variables.$height-xxl;
    .loader {
      @include loader;
    }
  }
  h2 {
    margin-top: variables.$margin-md;
  }
  .btn {
    @include btn-mobile;
    margin-top: variables.$margin-md;
    @media (min-width: variables.$mobile-breakpoint) {
      @include btn;
    }
  }
  .btnPrimary {
    @include btnPrimary;
  }
  .btnSecondary {
    @include btnSecondary;
  }
}
